@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(0deg, #000, #404040, #5e5e5e, #000);
  color: #ffffff;
  font-size: 0.5rem;
}

li:hover,
.titulo-topico:hover {
  animation: 1s alternate infinite opacity;
}

@keyframes opacity {
  from {
    opacity: 50%;
  }

  to {
    opacity: 100%;
  }
}

.banner-box {
  display: flex;
  text-align: center;
  justify-content: center;
}

.banner-img {
  border-radius: 10%;
  padding: 1em 0;
  margin: 0;
  width: 98vw;
  animation: 5s alternate grow;
}

@keyframes grow {
  0% {
    width: 10vw;
  }
  50% {
    width: 100vw;
  }
  100% {
    width: 98vw;
  }
}

.principal .container {
  display: flex;
  flex-flow: column;
  padding: 0 1rem;
  /* margin: 0 1em 2em;*/
}

.principal_item {
  margin: 0 0 1rem 0;
}

.titulo-topico {
  padding: 2em 0 1em;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  text-shadow: 3px 5px 3em rgb(211, 138, 13);
  box-sizing: border-box;
}

.principal_subtopico {
  font-weight: bold;
}

.principal .container > p > em > strong {
  font-style: italic;
}

.beneficios {
  align-content: center;
  margin: auto;
}

.conteudo-beneficios {
  display: flex;
  justify-content: space-around;
  flex-flow: column wrap;

  /* width: auto;
  line-height: 1.4rem;
  align-content: center;
  text-align: center; */
}

.beneficios .container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.conteudo-beneficios {
  flex: 1 1 auto;

  /* margin-right: 20%;
  vertical-align: top;
  display: inline-block !important;
  text-align: initial;
  font-size: 1.2rem; */
}

.conteudo-beneficios > li::before {
  content: "⋌ ";
}

.imagem-beneficios {
  align-self: center;

  width: 80vw;
  margin: 1rem 0;
  border-radius: 05%;

  /* display: inline-block !important;
  width: 50vw;
  height: 20%;*/
  box-shadow: 25px 25px 1em #303030;
  transition: all 0.5s;
}

.imagem-beneficios:hover {
  box-shadow: -15px 35px 1em #303030;
  border-radius: 5%;
}

.localizacao .container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.localizacao .container > p {
  padding: 0 0 2rem;
  text-align: center;
}

.localizacao-conteudo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.localizacao-conteudo iframe {
  border-radius: 5% !important;
}

.mais-sobre {
  display: flex;
  flex-flow: column;
  align-items: center;

  /* text-align: center;
  width: 100%;
  margin: auto;
  line-height: 1.5em; */
}

.mais-sobre > p {
  text-align: center;
  margin: 0 0 1rem;
  /* display: inline-block; */
  /* width: 40%; */
  /* vertical-align: top; */
  /* margin: 1rem 0;*/
}

.video {
  border-radius: 5%;
  width: 100vw;
}

.video iframe {
  border-radius: 5%;
  width: 100vw;
  height: 500px;
}

/* tablets */
@media screen and (min-width: 768px) {
  body {
    font-size: 2rem;
  }

  .imagem-beneficios {
    margin: 3rem 0 0 0;
  }

  .localizacao-conteudo iframe {
    height: 400px;
  }
  .video iframe {
    height: 600px;
  }
}


/* desktop */
@media screen and (min-width: 1024px) {
  .localizacao-conteudo iframe {
    height: 400px;
  }
  .video iframe {
    height: 600px;
  }
}
