body {
  background: url("../imgs/banner-3.jpg");
}

.banner-principal {
  background: url(../imgs/banner-2-escuro.jpg) repeat;
  background-size: cover;
}

.principal .container {
  display: flex;
  flex-flow: column;
/* 
  background: url(../imgs/banner.jpg) repeat;
  background-size: cover; */

  padding: var(--paddin-container);

  text-shadow: 5px 5px 2em rgb(211, 138, 13);
  text-align: justify;
  /* margin: 0 1em 2em;*/
}

.principal_item {
  margin: 0 0 1rem 0;
}

.titulo-topico {
  padding: 2em 0 1em;
  text-align: center;
  font-weight: bold;
  font-size: var(--font-titulo);
  text-shadow: 3px 5px 3em rgb(211, 138, 13);
  box-sizing: border-box;
}

.principal_subtopico {
  font-weight: bold;
  font-size: var(--font-subtitulo);
  text-align: center;
}

.principal .container > p > em > strong {
  font-style: italic;
}

.beneficios {
  align-content: center;
  margin: auto;
}

.conteudo-beneficios {
  display: flex;
  justify-content: space-around;
  flex-flow: column wrap;

}

.beneficios .container {
  display: flex;
  flex-flow: column;
  align-items: center;

  padding: var(--paddin-container);
}

.centaralizar_conteudo_beneficios {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100vw;
}

.conteudo-beneficios {
  flex: 1 1;
  font-size: var(--font-subtituulo);

}

.conteudo-beneficios > li::before {
  content: "🧐 ";
}

.imagem-beneficios {
  align-self: center;

  width: 80vw;
  margin: 2rem 0 1rem;
  border-radius: 05%;

  box-shadow: 25px 25px 1em #303030;
  transition: all 0.5s;
}

.imagem-beneficios:hover,
.imagem-beneficios:active {
  box-shadow: -15px 35px 1em #303030;
  border-radius: 5%;
}

.localizacao .container {
  display: flex;
  flex-flow: column;
  align-items: center;

  padding: var(--paddin-container);

}

.localizacao .container > p {
  text-align: center;
}

.localizacao-conteudo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 92vw;
}

.localizacao-conteudo iframe {
  border-radius: 5% !important;
}

.mais-sobre .container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: justify;


  padding: var(--paddin-container);
}

.video {
  padding: 2rem 0;
  border-radius: 5%;
  width: 90vw;
}

.video iframe {
  border-radius: 5%;
  width: 90vw;
}

/* tablets */
@media screen and (min-width: 768px) {

  .imagem-beneficios {
    margin: 3rem 0 0 0;
  }

  .localizacao-conteudo iframe {
    height: 400px;
  }
  .video iframe {
    height: 600px;
  }
}

/* desktop */
@media screen and (min-width: 1024px) {
  .principal_item {
    margin: 0 0 1rem 0;
    text-align: center;
  }

  .centaralizar_conteudo_beneficios {
    flex: 1 1;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;

    width: 95%;
  }

  .conteudo-beneficios {
    align-self: auto;
    background-origin: border-box;
  }

  .centaralizar_conteudo_beneficios .imagem-beneficios {
    padding: 0;
    margin: 0;
    width: 30vw;
  }
  .localizacao-conteudo iframe {
    height: 400px;
  }
  .video iframe {
    height: 600px;
  }
}
