@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(0deg, #000, #404040, #5e5e5e, #000);
  color: #ffffff;
}

li:hover{
  animation:1s alternate infinite opacity;
}

@keyframes opacity {
  from{
    opacity: 50%;
  }

  to{
    opacity: 100%;
  }
}

.navbar-box {
  position: relative;
  padding: 2em;
  /* margin: 0 0 2em; */
}

.logo {
  width: 13%;
  border-radius: 25%;
}
.logo:hover {
  animation: 5s 0s backwards infinite logo-balanca;
}

@keyframes logo-balanca {
  0% {
    rotate: 0;
  }

  35% {
    rotate: -100deg;
  }

  62% {
    rotate: 100deg;
  }

  10% {
    rotate: 0deg;
  }
}

.navbar-content-box {
  position: absolute;
  top: 40%;
  right: 10%;
  color: #ffffff;
}

.navbar-item {
  display: inline-block;
  padding: 0 10px 0 0;
  cursor: pointer;
}

.navbar-item a{
  transition: 0.4s 0s;
  cursor: pointer;
  font-size: 1.2em;
}

.navbar-item a{
  color: rgb(255, 255, 255);
  text-transform: none;
  list-style: none;
  text-decoration-line: none;
  text-decoration-style: none;
}

.navbar-item:nth-child(3) a{
  color: rgb(151, 130, 90) !important;
}

.navbar-item a:hover {
  color: rgb(211, 138, 13)  !important;
  text-decoration-style: dashed;
  font-size: 1.3em;
}

.banner-box {
  text-align: center;
  width: 100%;
  height: 30%;
  margin: 0 auto;
}

.banner-img {
  border-radius: 10%;
  display: inline-block;
  padding: 1em 0;
  margin: 0;
  width: 98%;
  animation: 4s alternate grow;
}

@keyframes grow {
  0% {
    width: 30%;
  }
  50%{
    width: 100%;
  }
  100% {
    width: 98%;
  }
}

.principal {
  margin: 0 1em 2em;
  line-height: 1.5em;
}

.titulo-topico {
  padding: 2em 0 1em;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  text-shadow: 3px 5px 3em rgb(211, 138, 13);
}

.principal > h3{
  padding: 1.0rem 0 0.2rem;
  font: 1.2em bold;
}

.principal > p em strong{
  font-style: italic;
}

.utensilios-img {
  width: 50%;
}

.beneficios{
  align-content: center;
  margin: auto;
}

.conteudo-beneficios{
  width: auto;
  margin: auto;
  line-height: 1.4rem;
  align-content: center;
  text-align: center;
}

.conteudo-beneficios ul{
  margin-right: 20%;
  vertical-align: top;
  display: inline-block !important;
  text-align: initial;
  font-size: 1.2rem;

}

.conteudo-beneficios ul > li::before{
  content: "⋌ ";
}



.imagem-beneficios{
  display: inline-block !important;
  width: 30%;
  height: 20%;
  box-shadow: 25px 25px 1em #303030;
  border-radius: 5%;
  transition: all 0.5s;
}

.imagem-beneficios:hover{
  box-shadow: -15px -35px 1em #303030;
  border-radius: 5%;
}

.mapa{
}

.mapa > p{
  text-align: center;
  padding: 0 0 0.2rem 1em;
  font: 1.2em bold;
  line-height: 2em;

}

.mapa-conteudo{
  width: 80%;
  margin: auto;
}

.mais-sobre{
  text-align: center;
  width: 100%;
  margin: auto;
  line-height: 1.5em;
}

.mais-sobre >p{
  text-align: initial;
  display: inline-block;
  width: 40%;
  vertical-align: top;
  margin: auto;

}

.video{
  margin: auto;
  display: inline-block;
  width: 40%;
}

footer{
  text-align: center;
  width: 100%;
  padding: 2em 0;
}

footer img{
  margin: 2em 0;
  width: 10%;
}