@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.conteudoPrincipal .container {
  display: flex;
  justify-content: center;
}

.produtos .container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 95vw;
  padding: 5wh;
  box-sizing: border-box;
}

.produtos-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  flex: 1 1;

  width: 20vw;
  height: auto;
  min-width: 200px !important;
}

.produtos-item {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  flex: 1 1 25vw;

  border: 2px solid white;
  border-radius: 7%;

  width: 100vw;
  padding: 0.5rem;
  margin: 1rem;
  text-align: center;
  
  transition: all .5s
}

.produtos-item:hover,
.produtos-item:active {
  box-shadow: 1px -1px var(--black), 2px -2px var(--cinza-claro),
    3px -3px var(--cinza-escuro), 4px -4px #3e3e3e, 5px -5px #3e3e3e,
    6px -6px #252424, 8px -8px var(--white);
    
  transform: scale(0.99) rotateX(-30deg); 
  opacity: 80%;
}

.produtos-item img {
  width: 80%;
}

.produtos-item h2 {
  font-size: 1.5em;
  font-weight: bold;
}
.produtos-item p,
.produtos-item h2 {
  margin: 1em 0;
}
