* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

body {
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.contant{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}
.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    width: 20rem;
}

.instagram-continue{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1){
    min-height: 9rem;
}

.instagram-logo{
    height: 3rem;
}

.profile-photo:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden; /*esconde o overflow(excesso)*/
    margin-bottom: 15px;

}

.profile-photo img{
    height: 8rem;
}


.instagram-login{
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border: 4px;
}

.instagram-logout{
    color: #0095f6;
    margin-top: 1rem;
}

.not-account{
    color: rgb(160, 160, 160);
}

.link-blue{
    color: #0095f6;
}

.get-the-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3em 0;
    font-weight: 700;
    /* border: 2px solid aqua; */
}

.download{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 1.3em;
    /* border: 2px solid aqua; */
}

.app-download{
    height: 3.2em;
    width: 11em;
    background-size: cover;
}

.app-download:nth-child(1){
    margin-right: 10px;
}

.app-download:nth-child(1){
    background-image: url(./img/apple-button.png);
}

.app-download:nth-child(2){
    background-image: url(./img/playstore-button.png);
}


.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;color: rgb(189, 186, 186);


}
/* media queries */

@media (max-width: 124px){
    .instagram-wrapper{
        width: 90%;
    }
}

@media (max-width: 931px) {
    
    .instagram-wrapper{
        width: 90%;
    }

    .instagram-phone{
        display: none;
    }

    .instagram-continue{
        width: 100%;
    }
}

@media (max-height: 415px) {
    
    .instagram-wrapper{
        height: 150vh;
        width: 90%;
    }

    .instagram-phone{
        display: none;
    }

    .instagram-continue{
        width: 100%;
    }
}

@media (max-height: 281px) {
    
    .instagram-wrapper{
        height: 180vh;
        width: 90%;
    }

    .instagram-phone{
        display: none;
    }

    .instagram-continue{
        width: 100%;
    }
}